body {
    font-size: 18px;
    background: #FAFAFA;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
    background-color: #ffffff;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    border-bottom: none;
}

.react-calendar-timeline .rct-header .rct-label {
    border-bottom: none
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
    border-color: #ccc;
}

.react-calendar-timeline .rct-header .rct-label-group {
    background: #eee;
    color: #000;
    font-size: 1rem;
}

.react-calendar-timeline .rct-sidebar-header {
    background: #eee;
    color: #000;
    text-align: center;
    padding-top: 1rem;
}

.react-calendar-timeline .rct-dateHeader {
    color: black;
    font-size: 12px;
    background-color: white;
}

.react-calendar-timeline .rct-dateHeader-primary {
    font-size: large;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
    border-bottom: 1px solid #bbb;
    padding: 0;
}

.react-calendar-timeline .rct-calendar-header {
    border-left: none;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
    background: transparent;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    background: transparent
}

.animated-div {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideUp 0.5s ease-out;
}

.animated-div-down {
    animation: slideDown 0.5s ease-out;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 100%);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes slideDown {
    0% {
        transform: translate(-50%, -100%);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.rct-scroll {
    cursor: default !important;
}

.rct-vl {
    display: none;
  }